@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #111111;
  --card-bg: #ffffff;
  --border: #e5e7eb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "ss01", "ss02", "cv01", "cv11";
}

.bg-grid-pattern {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 40px 40px;
}